{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "class-property",
    "jest"
  ],
  "rules": {
    "linebreak-style": 0,
    "object-curly-newline": ["error", {
      "consistent": true
    }],
    "react/jsx-filename-extension": 0
  }
}
